@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    333 N Plankinton Ave<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">Phone:</abbr>
    262.901.1406
</address>

<address>
    <strong>Support:</strong>   <a href="http://devcodecamp.com/">http://devcodecamp.com/</a><br />
    <strong>Marketing:</strong> <a href="http://devcodecamp.com/">http://devcodecamp.com/</a>
</address>
