@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ITrack<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></h1>
    <p class="lead">ITrack* tracks all of your company needs. We are the leading interface in the industry. Guaranteed <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></p>
</div>

<div class="row">
   
</div>